h1 {
  margin-bottom: 2%;
}

label,
input#email,
input#celular,
input#perfil_github,
select {
  margin-inline-start: 1%;
}

select {
  margin-top: 1%;

  width: 95%;
  height: 40px;

  padding-left: 1%;

  border-radius: 5px;
  border: 2px solid #d4d4d4;

  background-color: #f8ecec;

  box-shadow: none;
}

input#email,
input#celular,
input#perfil_github {
  width: 95%;
  height: 40px;

  border-radius: 5px;
  border: 2px solid #d4d4d4;

  box-shadow: none;
}

body > form > button,
body > form > input:last-of-type {
  width: 100%;
  height: 45px;

  background-color: #449c44;
  border-width: 0px;
  border-radius: 4px;

  color: white;
}

body > form > button,
body > form > input:last-of-type {
  cursor: pointer;
}
