form > div:last-of-type input {
  width: 98%;
  height: 45px;

  background-color: #449c44;
  border-width: 0px;
  border-radius: 4px;

  color: white;
}

form > div:last-of-type input {
  cursor: pointer;
}

form > div:last-of-type {
  width: 100%;
  background-color: #f8f4f4;

  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

div#usuario,
div#senha {
  width: 100%;
  background-color: #f8f4f4;

  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
