/*
* Seleciona a partir da
* segunda div
*/

body > div:nth-child(n + 2) {
  width: 390px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin-top: 50px;
  margin-bottom: 25px;

  display: flex;
  justify-content: center;
}

/*
* Seleciona a primeira img
* da primeira div do body
*/

body > div:first-of-type img:first-of-type {
  border-radius: 50%;
}

#paragrafo {
  width: 95%;

  justify-content: center;
  display: flex;

  border-style: dashed;
  border-color: black ;
  border-width: 1px;
}
